.mobile-view-navbar{
  position: sticky;
  top: 0;
  z-index: 1;
}


.navbar-header{
  width: 100%;
  background-color: brown;
  color: white;
  padding: 5px;
}

.navbar-header p svg{
  margin-left: 10px;
  cursor: pointer;
  margin-top: 20px;
}

@media (min-width:1000px) {
  .mobile-view-navbar{
      display: none;
  }
}